{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/app/css/list_item.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
    <div>
        <div id="main-text">
            <p>The best for you...</p>
        </div>

        <div id="contacts">
            <p>Առաքում</p>
            <p>Հեռ․՝ +374 98 45 01 02</p>
            <p>ՀՀ ք․ Երևան, Բաղրամյան 1/1</p>
            <p>E-mail: bluebell-flowers@mail.ru</p>
        </div>

        <div class="row" data-ng-init="initFlowers('{{ flowers }}');initColors('{{ colors }}')">
            <div class="col-sm-10 col-sm-offset-1" id="filters">
                <md-chips ng-model="products.selected" md-require-match="true" md-max-chips="5">
                    <md-autocomplete
                        md-min-length="1"
                        md-search-text="searchProduct"
                        md-items="item in getProducts(searchProduct)"
                        md-item-text="item"
                        placeholder="Products">
                        <span md-highlight-text="searchProduct">[[ item ]]</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <strong>[[ $chip ]]</strong>
                    </md-chip-template>
                </md-chips>

                <md-chips ng-model="flowers.selected" md-require-match="true" md-max-chips="5">
                    <md-autocomplete
                        md-min-length="1"
                        md-search-text="searchFlower"
                        md-items="item in getFlowers(searchFlower)"
                        md-item-text="item.name"
                        placeholder="Flowers">
                        <span md-highlight-text="searchFlower">[[ item.name ]]</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <strong>[[ $chip.name ]]</strong>
                    </md-chip-template>
                </md-chips>
            </div>
            <div class="col-sm-8 col-sm-offset-1" id="filters" style="padding-top: 0">
                <md-chips ng-model="colors.selected" md-require-match="true" md-max-chips="5">
                    <md-autocomplete
                            md-min-length="1"
                            md-search-text="searchColor"
                            md-items="item in getColors(searchColor)"
                            md-item-text="item.name"
                            placeholder="Colors">
                        <span md-highlight-text="searchColor">[[ item.name ]]</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <strong>[[ $chip.name ]]</strong>
                    </md-chip-template>
                </md-chips>
            </div>
            <div class="col-sm-2">
                <md-button id="search" data-ng-click="doFilter()">Search</md-button>
            </div>
        </div>

        <div id="list" class="row"
             infinite-scroll="InfiniteItems.nextItems(post)"
             infinite-scroll-disabled="InfiniteItems.busy"
             infinite-scroll-distance="3">
            <div class="col-sm-4 item items-animate"
                 data-ng-click="openPopup(item)"
                 data-ng-repeat="item in InfiniteItems.items">
                <div>
                    <img data-ng-src="[[ item.cached_image ]]" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>[[ item.name ]]</h3>
                    </div>
                    <div class="item-description">
                        [[ item.description ]]
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                    <span class="item-price">[[ item.price | number ]]<span style="font-size: 20px">֏</span></span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/angular/main.js') }}" type="text/javascript"></script>

{% endblock %}

