{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('bundles/app/css/list_item.css') }}" rel="stylesheet" type="text/css" media="screen"/>

{% endblock %}

{% block header %}
    {{ parent() }}

    <div id="banner">
        <div class="content"><img src="{{ asset('bundles/app/pictures/main.jpg') }}" width="1000" height="500" alt="" /></div>
    </div>

{% endblock %}

{% block content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/angular/main.js') }}" type="text/javascript"></script>

{% endblock %}

