{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/app/css/list_item.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
    <div class="container">
        <div id="main-text">
            <p>Andranik Please Work</p>
        </div>

        <div id="contacts">
            <p>Առաքում</p>
            <p>Հեռ․՝ +374 98 45 01 02</p>
            <p>ՀՀ ք․ Երևան, Բաղրամյան 1/1</p>
            <p>E-mail: bluebell-flowers@mail.ru</p>
        </div>


        {{ dump(flowers) }}
        {{ dump(colors) }}

        <div class="row" data-ng-init="initFlowers('{{ flowers }}');initColors('{{ colors }}')">
            <div class="col-sm-10 col-sm-offset-1" id="filters">
                {#<md-chips ng-model="test" name="fruitName" md-max-chips="5">#}
                    {#<md-chip-template>#}
                        {#<strong>[[ $chip.name ]]</strong>#}
                    {#</md-chip-template>#}
                {#</md-chips>#}

                <md-chips ng-model="flowers.selected" md-require-match="true" md-max-chips="5">
                    <md-autocomplete
                        md-search-text="searchFlower"
                        md-items="item in getFlowers(searchFlower)"
                        md-item-text="item.name"
                        placeholder="Flowers">
                        <span md-highlight-text="searchTag">[[ item.name ]]</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <strong>[[ $chip.name ]]</strong>
                    </md-chip-template>
                </md-chips>

                {#<md-chips ng-model="fruitNames" name="fruitName" md-max-chips="5">#}
                    {#<md-chip-template>#}
                        {#<strong>[[ $chip ]]</strong>#}
                    {#</md-chip-template>#}
                {#</md-chips>#}
            </div>
        </div>

        <div id="list" class="row">
            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 item">
                <div>
                    <img src="/uploads/files/0839a5fe1de10ac65ebc87075289d6ac.jpg" class="img-responsive"/>
                </div>
                <div class="item-footer">
                    <div class="item-title">
                        <h3>Flowers</h3>
                    </div>
                    <div class="item-description">
                        Vestibulum sed ex tortor. Nam vehicula mauris odio,
                        interdum risus posuere sed.
                        Pellentesque elit nisi, rutrum in nibh a,
                        porta tempor mi.
                    </div>

                    <div class="item-read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/angular/main.js') }}" type="text/javascript"></script>

{% endblock %}

