{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/app/css/list_item.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block header %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <img src="{{ asset('bundles/app/pictures/main.jpg') }}" class="img-responsive"/>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="container">
        <div id="list" class="row">
            <div class="col-sm-4 item">
                <img src="/uploads/files/9087453c3c6b482c13dd83979cbd48e8.png" class="img-responsive"/>
            </div>

            <div class="col-sm-4 item">
                <img src="/uploads/files/9087453c3c6b482c13dd83979cbd48e8.png" class="img-responsive"/>
            </div>

            <div class="col-sm-4 item">
                <img src="/uploads/files/9087453c3c6b482c13dd83979cbd48e8.png" class="img-responsive"/>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/angular/main.js') }}" type="text/javascript"></script>

{% endblock %}

