{% extends'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="page">

        <img src="{{ product.listPhotoDownloadLink | imagine_filter('product_list') }}" />

        {% for productImage in product.productImage %}
            <img src="{{ product.listPhotoDownloadLink | imagine_filter('product_small') }}" />
        {% endfor %}


        <div id="sidebar">
            <ul>
                <li>
                    <h2>{{ product.name }}</h2>
                <ul>
                    <li>{{ product.code }}</li>
                    <li>{{ product.price }}</li>
                    <li>{{ product.description }}</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}